{% block content %}
<div class="example-wrapper">
    <h1>Rendu en image</h1>

    <img src="{{ asset('images/logos/logo_openpixl_bleu.jpg') }}" alt="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
</div>
{% endblock %}
