<form method="post" action="{{ path('admin_server_delete', {'id': server.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce serveur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ server.id) }}">
    <button class="btn">Supprimer</button>
</form>
