{% extends 'base.html.twig' %}

{% block title %}Edit Server{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Modifier le Serveur</h3>
                    </div>
                        {{ include('admin/server/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                        {{ include('admin/server/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
