{% extends 'base.html.twig' %}

{% block title %}New Server{% endblock %}

{% block main %}
    <h1>Create new Server</h1>

    {{ include('admin/server/_form.html.twig') }}

    <a href="{{ path('admin_server_index') }}">back to list</a>
{% endblock %}
