{% extends 'base.html.twig' %}

{% block title %}Nouveau Statut{% endblock %}

{% block body %}
    <h1 class="titre_h2">Crée un Statut</h1>
    {{ include('admin/statut/_form.html.twig') }}
    <button type="button" class="btn button titre_h4"><a class="titre_h4"href="{{ path('app_admin_statut_index') }}">Retour à la liste</a></button>
{% endblock %}
