{% extends 'base.html.twig' %}

{% block title %}Nouveau statut{% endblock %}

{% block body %}
    <h1 class="titre_h2">Crée un Statut</h1>
    {{ include('admin/statut/_form.html.twig') }}
{% endblock %}
