{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1 class="titre_h2">Crée un client</h1>

    {{ include('admin/client/_form.html.twig') }}
{% endblock %}
