{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block main %}
    <h1>Ajouté nouveau Client</h1>

    {{ include('admin/client/_form.html.twig') }}

    <a href="{{ path('admin_client_index') }}">Retour à la liste</a>
{% endblock %}
