{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Tableau de bord</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row" id="row-card">
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <i class="fas fa-users"></i>
                        <span class="count-numbers">{{ services|length }}</span>
                        <span class="count-name">Services</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <i class="fas fa-concierge-bell"></i>
                        <span class="count-numbers">599</span>
                        <span class="count-name">Instances</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <i class="fa fa-database"></i>
                        <span class="count-numbers">6875</span>
                        <span class="count-name">Data</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-info mb-3 info">
                    <div class="card-body">
                        <i class="fa fa-users"></i>
                        <span class="count-numbers">35</span>
                        <span class="count-name">Users</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ render(controller('App\\Controller\\Admin\\ServiceController::listbirtthday')) }}
{% endblock %}
