<table>
    <thead>
        <tr>
            <th>Nom de service</th>
        </tr>
    </thead>
    <tbody>
{% for listbirthday in listbirthdays %}
    <tr>
        <td>{{ listbirthday.nameService }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="1"><b>Aucun services à terme dans les trente jours</b></td>
    </tr>

{% endfor %}
    </tbody>
</table>