{% extends 'base.html.twig' %}

{% block title %}New FicheService{% endblock %}

{% block body %}
    <h1>Create new FicheService</h1>

    {{ include('admin/fiche_service/_form.html.twig') }}

    <a href="{{ path('app_admin_fiche_service_index') }}">back to list</a>
{% endblock %}
