table{
  thead{
    tr{
      th{
        font-size:14px;
      }
    }
  }
  tbody{
    tr{
      th{
        font-size:14px;
      }
      td{
        font-size:14px;
      }
    }
  }
  tfoot{

  }
}