{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1 class="titre_h2">Crée un nouveau service</h1>

    {% block content%}
    <section>
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <div class="card">
                    {{ include('admin/service/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>

        <div id="bouton_form">
            <button class="btn btn-sm btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
        </div>
    {% endblock %}

    <button type="button" class="btn button titre_h4"><a class="titre_h4"href="{{ path('app_admin_service_index') }}">Retour à la liste</a></button>
{% endblock %}
