{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1 class="titre_h2">Crée un nouveau service</h1>

    {% block content%}
    <section>
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <div class="card">
                    {{ include('admin/service/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
