{% extends 'base.html.twig' %}

{% block title %}Edit Intervention{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script>
        window.onload = function(){
            ClassicEditor
                .create(document.querySelector('#intervention_description'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'indent', 'alignment' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row title mt-4 mb-4">
        <h1>Editer l'intervention</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-xl-4">
            {{ include('admin/intervention/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        </div>
    </div>
</section>
{% endblock %}
