{% extends 'base.html.twig' %}

{% block title %}Edit Intervention{% endblock %}

{% block body %}
    <h1>Editer l'intervention</h1>

    {{ include('admin/intervention/_form.html.twig', {'button_label': 'Mise à jour'}) }}


{% endblock %}
