
    <section id="mail">
        <div class="container-fluid">
            <div class="row title mt-4 mb-4">
                <div class="col-12">
                    <h1>Mail automatique</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <p>Bonjour {{ Client.name }}</p>
                    <p>Confirmation de mail.</p>
                    <p>Ce mail est envoyé automatiquement, veuillez cliquer sur le lien ci-dessous afin de confirmer votre addresse mail..</p>
                    <img src="src" alt="Logo Openpixl" class="">
                </div>
            </div>
        </div>
    </section>
